backend/myenv/
backend/npl_fatasy/.env
files/
.venv/
.venv
.djanogo_env/
django_env/
.frontend_env/
frontend_env/
.env
.env.local
.env.*.local
node_modules/
dist/
build/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
.vscode/
.idea/
.DS_Store
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo   